.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*--- CHEF CARD STYLE ---*/
#chef-card{
  width: 250px;
}
#chef-img{
  margin-top: -30%;
  margin-left: 16%;
}
.center-name{
  text-align: center;
  padding-top: 10%;
}
.center-about{
  text-align: center;
  padding-top: 1%;
}
#chef-btn{
  margin-top: 7%;
  margin-left: 25%;
}
/*--- END CHEF CARD STYLE ---*/
/*--- CHEF SEARCH  ---*/
#chef-search{
  margin: 80px 0;
}
/*--- END CHEF SEARCH  ---*/

/*--- CHEF NOT FOUND ---*/
.not-found{
  color:rgba(165, 15, 15, 0.657);
}
/*--- END CHEF NOT FOUND ---*/
/*--- SELECT CUISINE ----*/
#select-chef{
  background:
    linear-gradient(45deg, transparent 50%,rgb(91, 91, 92) 50%),
    linear-gradient(135deg, rgb(91, 91, 92) 50%, transparent 50%);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  /* styling and reset */
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  border-radius: 5px;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

/*--- END SELECT CUISINE ----*/